*{
margin: 0;
padding: 0;
font-family: Century Gothic;
}

.index{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(media/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.aboutme{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(aboutme/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}
nav{
	position: fixed;
	top:0;
	right:10vw;
	list-style-type: none;
	margin-top: 25px;
	width: 100%;
}


ul{
	position: absolute;
	right: 0;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid solid transparent;
	transition: 0.5s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	position: fixed;
	width: 75px;
	height: auto;

	top: 25px;
	left: 10vw;
	display: inline-block;
}

.main{
	max-width: 1200px;	
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.about{
	position: absolute;
	/*margin: 0 0 auto;*/
	color: white;
	width: 50vw;
	display: flex;
	flex-direction: row;
	left: 25vw;
	right: 25vw;
	top: 25vh;
	margin: auto;
}

#about-desc{
	display: flex;
	flex-direction: column;
	padding-right: 15%;
}

.headshot div{
	margin: 10px;
	padding: 10px;
}

.headshot img{
	width: auto;
	height: 35vh;
}

p {
		margin-bottom: 2.5vh;
	}

@media screen and (max-width: 1050px){

	header.aboutme{
		display: flex;
	}
	
	header.index{
		display: flex;
	}

	.about{
		flex-direction: column-reverse;
	}

	.about{
		width: auto;
		text-align: center;
		margin-top: -10vh;
	}

	#about-desc{
		padding: 0;
		margin-top: 5vh;
	}

	#about-desc div{
		margin: auto;
		padding: 0;
	}

	p {
		margin-bottom: 2.5vh;
	}

	.headshot img{
		width:75%;
		height:auto;
	}

	.logo img{
		display: none;
	}

	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0vw;
	}

	ul {
		position: relative;
		right: auto;
	}
}